<!DOCTYPE html>
<html ng-app="exto">
<head>
	<title></title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<meta charset="utf8">
</head>
<body>
	<div class="container" ng-controller="formCtrl">
		<div class>
			<h3>Form To Laravel</h3>
		</div>

		<div class="form-group">
			<label for="">Form(HTML)</label>
			<textarea ng-model="data" id="" cols="30" rows="10" class="form-control"></textarea>
		</div>

		<div class="form-group">
			<label>Sonuç(Create):</label>
			<pre><% data | toLaravelCreate %></pre>
		</div>




		<form class="form-signin">
	        <h2 class="form-signin-heading">Please sign in</h2>
	        <label for="inputEmail" class="sr-only">Email address</label>
	        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
	        <label for="inputPassword" class="sr-only">Password</label>
	        <input name="passsword" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
	        <div class="checkbox">
	          <label>
	            <input name="rememberme" type="checkbox" value="remember-me"> Remember me
	          </label>
	        </div>

	        <div class="form-group">
	        	<label for="">Choose</label>
	        	<input name="a" value="item1" type="radio">item1
	        	<input name="a" value="item2" type="radio">item2
	        </div>
	        <select name="role" id="">
	        	<option value="1">1</option>
	        	<option value="2">2</option>
	        	<option value="3">3</option>
	        </select>
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

		
	</div>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script>
		var app = angular.module('exto',[]);
		app.config(function($interpolateProvider){
		    $interpolateProvider.startSymbol('<%').endSymbol('%>');
		});

		app.filter("toLaravelCreate", function () {
		    return function (input){
		       var j = $(input);
		        $.each(j.find('input[type!=radio]'), function(index, val) {
		        	 $(this).attr('value','{{ old(\'' + $(this).attr('name') + '\')}}');
		        }); 
		        $.each(j.find('select option'), function(index, val) {
		        	 $(this).attr('etifparantezacdolarelementok'+$(this).parent().attr('name')+'esitesit'+$(this).val()+'parantezkapat_selected_etendif',"###willbedeleted###");
		        }); 
		        $.each(j.find('input[type=radio]'), function(index, val) {
		        	 $(this).attr('etifparantezacdolarelementok'+$(this).attr('name')+'esitesit'+$(this).val()+'parantezkapat_checked_etendif',"###willbedeleted###");
		        }); 
		       	input  = $('<div>').append(j).html();
		       	input = input.split("=\"###willbedeleted###\"").join('');
		       	input = input.split("_selected_").join(' selected ');
		       	input = input.split("_checked_").join(' checked ');
		       	input = input.split("etendif").join('@endif');
		       	input = input.split("etifparantezacdolarelementok").join('@if($element->');
		       	input = input.split("esitesit").join(' == ');
		       	input = input.split("parantezkapat").join(')');
		        return input;
		    }    
		});

		


		
		app.controller('formCtrl', ['$scope', function ($scope) {
			$scope.data = $('form').html();
		}])


		
	</script>
</body>
</html>