<!DOCTYPE html>
<html ng-app="exto">
<head>
	<title></title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<meta charset="utf8">
</head>
<body>
	<div class="container" ng-controller="formCtrl">
		<div class>
			<h3>Form To Laravel</h3>
		</div>

		<div class="form-group">
			<label for="">Form(HTML)</label>
			<textarea ng-model="data" id="" cols="30" rows="10" class="form-control"></textarea>
		</div>

		<div class="form-group">
			<label>Sonuç(Create):</label>
			<pre><% data | toLaravelCreate %></pre>
		</div>

		<div class="form-group">
			<label>Sonuç(Edit):</label>
			<pre><% data | toLaravelEdit %></pre>
		</div>




		
		
	</div>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script>
		var app = angular.module('exto',[]);
		app.config(function($interpolateProvider){
		    $interpolateProvider.startSymbol('<%').endSymbol('%>');
		});

		app.filter("toLaravelCreate", function () {
		    return function (input){
		       var j = $(input);
		        $.each(j.find('input[type!=radio]'), function(index, val) {
		        	console.log(val);
		        	types = ['file','checkbox'];
		        	if( types.indexOf($(this).attr('type')) == -1)
		        	{
		        	 	$(this).attr('value','{{ old(\'' + $(this).attr('name') + '\')}}');
		        	}
		        }); 
		        $.each(j.find('select option'), function(index, val) {
		        	 $(this).attr('etifparantezacoldparantezactirnak'+ $(this).parent().attr('name')+'tirnakparantezkapatesitesittirnak'+$(this).val()+'tirnakparantezkapat_selected_etendif',"###willbedeleted###");
		        }); 
		        $.each(j.find('input[type=radio]'), function(index, val) {
		        	 $(this).attr('etifparantezacoldparantezactirnak'+$(this).attr('name')+'tirnakparantezkapatesitesittirnak'+$(this).val()+'tirnakparantezkapat_checked_etendif',"###willbedeleted###");
		        }); 
		       	input  = $('<div>').append(j).html();
		       	input = input.split("=\"###willbedeleted###\"").join('');
		       	input = input.split("_selected_").join(' selected ');
		       	input = input.split("_checked_").join(' checked ');
		       	input = input.split("etendif").join('@endif');
		       	input = input.split("etif").join('@if');
		       	input = input.split("dolarelementok").join('$element->');
		       	input = input.split("esitesit").join(' == ');
		       	input = input.split("tirnak").join('\'');
		       	input = input.split("parantezkapat").join(')');
		       	input = input.split("parantezac").join('(');
		        return input;
		    }    
		});
		app.filter("toLaravelEdit", function () {
		    return function (input){
		       var j = $(input);
		        $.each(j.find('input[type!=radio]'), function(index, val) {
		        	console.log(val);
		        	types = ['file','checkbox'];
		        	if( types.indexOf($(this).attr('type')) == -1)
		        	{
		        	 	$(this).attr('value','{{ dolarelementok' + $(this).attr('name') + '}}');
		        	}
		        }); 
		        $.each(j.find('select option'), function(index, val) {
		        	 $(this).attr('etifparantezacdolarelementok'+ $(this).parent().attr('name')+'sitesittirnak'+$(this).val()+'tirnakparantezkapat_selected_etendif',"###willbedeleted###");
		        }); 
		        $.each(j.find('input[type=radio]'), function(index, val) {
		        	 $(this).attr('etifparantezacdolarelementok'+$(this).attr('name')+'sitesittirnak'+$(this).val()+'tirnakparantezkapat_checked_etendif',"###willbedeleted###");
		        }); 
		       	input  = $('<div>').append(j).html();
		       	input = input.split("=\"###willbedeleted###\"").join('');
		       	input = input.split("_selected_").join(' selected ');
		       	input = input.split("_checked_").join(' checked ');
		       	input = input.split("etendif").join('@endif');
		       	input = input.split("etif").join('@if');
		       	input = input.split("dolarelementok").join('$element->');
		       	input = input.split("esitesit").join(' == ');
		       	input = input.split("tirnak").join('\'');
		       	input = input.split("parantezkapat").join(')');
		       	input = input.split("parantezac").join('(');
		        return input;
		    }    
		});

		


		
		app.controller('formCtrl', ['$scope', function ($scope) {
			$scope.data = "";
		}])


		
	</script>
</body>
</html>